.youtube-placeholder {
  min-height: 10em;
  background: #ddd;
}

/* 
blue - rgb(42, 91, 107)
orange = rgb(229,126,67)
*/


.responsive-image {
  max-width: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px
}

.section .section--title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px
}

.section .section--subtitle {
  text-align: center;
  margin-bottom: 30px
}

.section__main {
  background-image: url('../strona/zdjecie bg1.jpg')
}


.section__about {
  background-image: url('../strona/pattern.png')
}

.section__main  h1{

  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
 
}

.section__main .btn__primary {
  display: block;
  margin: 40px auto 0 auto;
}


.section__lead {
  background-color: rgb(229,126,67);
  color: #fff;
  padding: 15px 0;
}

.lead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

