
body, html{
	padding: 0;
	margin: 0;
}
ol{
	margin: 0;
	list-style: none;


}
.header{
	display: flex;
	align-items: center;
}
header{
	background-color: rgb(42, 91, 107);
	border-bottom: 3px solid black;
	box-shadow: 2px 0px 1px rgb(49, 52, 60);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container{
	display: flex;
	align-items: center;
	max-width: 1000px;
	margin: auto;

}
.logo, .navigation{
	flex: 1;
}
.navigation{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	
}
.navigation li a{
	text-decoration: none;
	float: right;
	background-color: white;
	color:rgb(42, 91, 107);
	margin: 7px;
	border: 2px solid black;
	border-radius: 4px;
	box-shadow: 2px 2px 1px rgb(49, 52, 60);
}

.introduction{
	display: flex;
	background-color: lightgrey;
	justify-content: center;
}	
.intro_title{
	font-size: 25px;
	color: darkblue;
	font-weight: bold;
}

.intro_text{
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin-right: 30px;
	padding-left: 0px;
}

.intro_video{
	margin: auto;
	padding: auto;
}


}
h1,p,a{
	max-width: 1000px;
	margin: auto;
}
span{
	font-weight: bold;
}
.email_field{
	background-color: orange;
	height: 40px;
	margin: auto;
	padding-top: auto;
	display: flex;
	justify-content: center;

	}
	.conteiner_email{
		max-width: 1000px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

		.navigation_email{
		display: flex;
		justify-content: center;
		align-items: center;
		}

			.question{
			color: white;
			font-weight: bold;
			font-size: 15px;
			margin-left:  0px;
			max-width: 500px;
			}

			.imail_form{
			max-width: 500px;
			margin: auto;
			margin-left: 25px;
			}

				.email_input{
					color: grey;
				}

				.email_input_button{
				color: white;
				background-color: darkblue;
				border: 0.5px solid black;
				border-radius: 4px;
				box-shadow: 2px 2px 1px rgb(49, 52, 60);
				}

.presentation {
	font: 17px bold ;
	color: darkblue;
	margin: auto;
	padding: auto;
	text-align: center;
	
	}

	.icon_field{
		max-width: 1000px;
		display: flex;
		justify-content: center;
		justify-content: space-between;
		justify-content: flex-start;
		margin: auto;
		padding-top: 15px;
	}

	.article{
		margin: 5px;
		text-align: center;

	}