
body, html{
	padding: 0;
	margin: 0;
}
.header{
	display: flex;
	align-items: center;
}
header{
	background-color: rgb(42, 91, 107);
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.container{
	display: flex;
	align-items: center;
	max-width: 1000px;
	margin: auto;

}
.logo, .navigation{
	flex: 1;
}
.navigation{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	
}

ol{
	margin: 0px;
	list-style: none;
}

.navigation li a{
	text-decoration: none;
	background-color: white;
	color:rgb(42, 91, 107);
	padding: 7px 14px;
	margin-right: 5px;
	border-radius: 3px;

}
.navigation li a.action{
	background-color: orange;
}

.introduction{
	
	justify-content: center;
	padding-top: 35px;
}	
.introduction_background{
	background-image: url("strona/zdjecie bg1.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	position: relative;
	background-color: lightgrey;
}
.intro_title{
	font-size: 25px;
	color: rgb(42, 91, 107);
	font-weight: bold;
}

.intro_text{
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 50px;
	margin-left: 0px;
	padding: 40px 0px;
}
.info_paragraph{
	padding: 20px 0px;
	justify-items: center;
}
.navigation_kurs_info {
	text-decoration: none;
	background-color: rgb(42, 91, 107);
	color: white;
	padding: 7px 14px;
	margin-right: 5px;
	border-radius: 3px;

}
.movie1{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	
}
.intro_video{
	height: 280px;
	width: 400px;
	padding-right: 0px;
	margin-top: 20px;
	padding-top: 20px;
	display: flex;
	align-content: flex-start;
	
}

h1,p,a{
	max-width: 1000px;
	margin: auto;
}
span{
	font-weight: bold;
}
.email_field{
	background-color: rgb(229,126,67);
	height: 40px;
	margin: auto;
	padding-top: auto;
	display: flex;
	justify-content: center;

	}
	

		.navigation_email{
		display: flex;
		justify-content: center;
		align-items: center;
		}

			.question{
			color: white;
			font-weight: bold;
			font-size: 15px;
			margin-left:  0px;
			max-width: 500px;
			}

			.imail_form{
			max-width: 500px;
			margin: auto;
			margin-left: 25px;
			}

				.email_input{
					color: grey;
				}

				.email_input_button{
				color: white;
				background-color:rgb(42, 91, 107);
				border: 0.5px solid black;
				border-radius: 4px;
				box-shadow: 2px 2px 1px rgb(49, 52, 60);
				}

.presentation {
	font: 17px bold ;
	color: rgb(42, 91, 107);
	margin: auto;
	padding-top: 40px;
	padding-bottom: 0px;
	text-align: center;
	
	}

	.icon_field{
		max-width: 280px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-between;
		justify-content: flex-start;
		margin: auto;
		padding: 20px 0px;
	}
	.icon{
		padding: 0px 0px;
	}
	.icon_signature{
		padding: 0px 0px;
		color: rgb(229,126,67);
	}

	.article{
		margin: 5px;
		text-align: center;
		color: rgb(42, 91, 107);
		padding: 5px 5px;

	}
.presentation_background1{
	background: url("strona/pattern.png") top left repeat;
	/*background-repeat: repeat; /* Do  repeat the image */
	background-size: auto;
	background-color: lightgrey;

}